* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --background-color: #20063B; 
    --text-color: #97949E;
    --accent-color-1: #074F57;
    --title-font: 'Syne', sans-serif;
    --body-font: 'Montserrat', sans-serif;
}

.dropdown {
    font-family: var(--body-font);
    display: none;
    position: absolute;
    z-index: 1;
    font-size: 1.25em;
    min-width: 200px;
}

.exercises {
    max-height: 650px;
    overflow: scroll;
}

.dropdown a {
    padding: 3px;
}

.dropdown p {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.dropdown a:hover {
    background-color: var(--text-color);
    color: var(--accent-color-1)
}

.nav-button:hover {
    color: var(--accent-color-1);
}

.nav-button a:hover {
    color: var(--accent-color-1);
}

.dropdown-container:hover .dropdown {
    display: block;
    background-color: var(--accent-color-1);
    color: var(--text-color);
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-container {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-button {
    display: inline;
    font-size: 2em;
    text-align: center;
    border: none;
    cursor: pointer;
    font-family: var(--title-font);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--background-color);
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    width: 100%;
}

.weekname {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 3px solid var(--text-color);
    border-top: 3px solid var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.active {
    background-color: var(--background-color);
}

.home-active {
    color: var(--accent-color-1);
}

h1 {
    font-family: var(--title-font);
    color: var(--background-color);
}

h2 {
    font-family: var(--title-font);
}

p {
    font-family: var(--body-font)
}

.about {
    text-align: justify;
}

.about a {
    text-decoration: none;
    color: var(--text-color);
}

.about a:hover {
    text-decoration: none;
    color: var(--accent-color-1);
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-top: 40px;
}

header {
    background-color: var(--text-color);
    color: var(--background-color);
    font-family: var(--title-font);
    text-align: center;
    font-size: 2.5em;
}

aside {
    background-color: var(--text-color);
    color: var(--background-color);
    font-family: var(--body-font);
    display: block;
    width: 30%;
    padding: 10px;
}

aside a {
    text-decoration: none;
    color: var(--background-color);
}

aside a:hover {
    color: var(--accent-color-1);
}

ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

aside h2 {
    padding-top: 20px;
}

aside li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.focus {
    width: 40%;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.2em;
}

.photo {
    max-width: 30%;
}

img {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    border: 10px solid var(--text-color);
}

footer {
    font-family: var(--title-font);
    display: block;
    border-top: 5px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
    margin-top: 10px;
    font-weight: bold;
}

footer ul {
    margin: 0 auto;
    text-align: center;
}

footer a:hover {
    color: var(--accent-color-1);
}

footer li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

footer a {
    text-decoration: none;
    color: var(--text-color);
}