# command to create: ".vs/" | Out-File -Encoding ascii -FilePath .gitignore

.vs/
website/keys.php
website/includes/keys.php
*.jpg
**/*.jpg
*.png
**/*.png
**/credentials.php
weeks/week8/credentials.php
weeks/week9/credentials.php
website/includes/credentials.php
**/keys.php
composer.json
composer.lock
vendor/