# command to create: ".vs/" | Out-File -Encoding ascii -FilePath .gitignore

.vs/
website/keys.php
website/includes/keys.php
*.jpg
**/*.jpg
weeks/week8/credentials.php
website/includes/credentials.php